{% extends "errors/_base.html.j2" %}

{% block title %}
  Forbidden
{% endblock %}

{% block error_text %}
  <h2>Access not allowed</h2>
  <h1>403</h1>
  <p>Actually you have no permission to view this site. Login and visit this site again.</p>
{% endblock %}
