{% extends "errors/_base.html.j2" %}

{% block title %}
  Page not found
{% endblock %}

{% block error %}
 <h1 class="large">Page Not Found</h1>
 <p>Unfortunately, the requested page is not available.<br>If you have typed this web address by hand, then please check the spelling and try reentering it again.</p>
{% endblock %}
