{% extends "errors/_base.html.j2" %}

{% block title %}
  Error
{% endblock %}

{% block error_text %}
 <h2>Internal Error</h2>
 <h1>500</h1>
 <p>Unfortunately, the requested page is not available.<br>If you have typed this web address by hand, then please check the spelling and try reentering it again.</p>
{% endblock %}
