<!DOCTYPE html>
<html lang="de">
  <head>
    {% block meta %}
      {% include 'osm_observer/_meta.html.j2' %}
    {% endblock %}
    {% block meta_extension %}
    {% endblock %}
    <title>
      OSM Observer
    </title>

    {% block header %}
      {% assets "libs-css" %}
        <link href="{$ ASSET_URL $}" rel="stylesheet" type="text/css">
      {% endassets %}

      {% assets "app-css" %}
        <link href="{$ ASSET_URL $}" rel="stylesheet" type="text/css">
      {% endassets %}
    {% endblock %}

    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />

    {% block css %}
    {% endblock %}
  </head>
  <body>
    {% include 'osm_observer/pages/widgets/navbar.html.j2' %}
    <div class="row">
      {% if current_user.is_authenticated %}
      <div class="col-sm-3 col-md-2 sidebar">
        {% include 'osm_observer/pages/widgets/sidebar.html.j2' %}
      </div>
      <div class="col-sm-9 col-md-10">
      {% else %}
      <div class="col-sm-12 col-md-12">
      {% endif %}
        {% block body %}
        {% endblock %}
      </div>
    </div>

    {% block javascript %}
    {% endblock %}

    {% block flash %}
    {% endblock %}
  </body>
</html>
