<!DOCTYPE html>
<html lang="de">
  <head>
    <base href="/">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>
      OSM Observer
    </title>

    {% block header %}
      {% assets "libs-css" %}
        <link href="{$ ASSET_URL $}" rel="stylesheet" type="text/css">
      {% endassets %}

      {% assets "app-css" %}
        <link href="{$ ASSET_URL $}" rel="stylesheet" type="text/css">
      {% endassets %}
    {% endblock %}

    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />

    {% block css %}
    {% endblock %}
  </head>
  <body>
    <div class="row">
      <div class="container">
        {% block content %}
        {% endblock %}
      </div>
    </div>

    {% assets "app-js" %}
      <script type="text/javascript" src="{$ ASSET_URL $}"></script>
    {% endassets %}

    {% block flash %}
    {% endblock %}
  </body>
</html>
