{% extends "_base.html.j2" %}

{% block content %}
    <ul class="list-group">
    {% for coverage in current_user.coverages %}
        <li class="list-group-item">
            <a href="{$ url_for('changesets.by_coverage', coverage_id=coverage.id) $}">{$ coverage.name $}</a>
        </li>
    {% endfor %}
    </ul>
{% endblock %}