<div class="component-container">
  <h4>{{ 'REVIEWS' | translate }}</h4>
  <table class="table table-sm" *ngIf="reviews">
    <thead>
      <tr>
        <th>{{ 'SCORE' | translate }}</th>
        <th>{{ 'STATUS' | translate }}</th>
        <th>{{ 'CREATED BY' | translate }}</th>
        <th>{{ 'CREATED AT' | translate }}</th>
        <th>{{ 'COMMENT' | translate }}</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngIf="reviews !== undefined && reviews.length === 0">
        <td colspan="5">
          {{ 'NO REVIEWS' | translate }}
        </td>
      </tr>
      <tr *ngFor="let review of reviews"
          [class.table-warning]="review.score === 0"
          [class.table-danger]="review.score < 0"
          [class.table-success]="review.score > 0">
        <td>{{ review.score }}</td>
        <td>{{ reviewStatus.byId(review.status) | translate }}</td>
        <td>{{ review.creator.name }}</td>
        <td>{{ review.timeCreated | date:'d.M.y HH:mm:ss Z' }}</td>
        <td>{{ review.comment }}</td>
      </tr>
    </tbody>
  </table>
</div>
