*.egg-info
*.pyc
*.db
build/
dist/
doc/_build
server/pkgs
app/osm_observer/static/webapp
app/osm_observer/static/cache
app/osm_observer/static/app.js
app/osm_observer/static/libs.css
app/osm_observer/static/main.css
dev/changes
dev/diffs
.DS_Store
.coverage
.project
.settings
.pydevproject
.webassets-cache
__pycache__