<div class="component-container"
     *ngIf="changesetComments && changesetComments.length > 0">
  <h4>{{ 'COMMENTS' | translate }}</h4>
  <table class="table table-striped table-sm" *ngIf="changesetComments">
    <thead>
      <tr>
        <th>{{ 'USERNAME' | translate }}</th>
        <th>{{ 'DATE' | translate }}</th>
        <th>{{ 'COMMENT' | translate }}</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngIf="changesetComments !== undefined && changesetComments.length === 0">
        <td colspan="3">
          {{ 'NO COMMENTS' | translate }}
        </td>
      </tr>
      <tr *ngFor="let comment of changesetComments">
        <td>{{ comment.userName }}</td>
        <td>{{ comment.timestamp | date:'d.M.y HH:mm:ss' }}</td>
        <td>{{ comment.text }}</td>
      </tr>
    </tbody>
  </table>
</div>
