/* variables */
$background-color: #eee

$header-background-color: #1B315C
$header-text-color: $background-color

$component-background-color: #fff
$component-header-color: #999

$active-element-text-color: #fff

$danger-color: #CC4E4A
$danger-color-hover: #B84542

$active-nav-background-color: #3D6F99
$disabled-background-color: #7793AA

$link-text-color: $active-nav-background-color
$link-hover-text-color: $header-background-color


/* general */

html, body
  margin: 0
  padding: 0
  width: 100%
  height: 100%
  background-color: $background-color

.pointer
  cursor: pointer

.btn
  cursor: pointer
  &:focus
    box-shadow: none

a
  color: $link-text-color
  &:hover
    color: $link-hover-text-color

.btn-primary
  background-color: $active-nav-background-color
  border-color: $active-nav-background-color
  &:hover
    background-color: $header-background-color
    border-color: $header-background-color
  &:disabled
    background-color: $disabled-background-color
    border-color: $disabled-background-color
    &:hover
      background-color: $disabled-background-color
      border-color: $disabled-background-color

.btn-danger, a.btn.btn-danger
  color: $active-element-text-color
  background-color: $danger-color
  border-color: $danger-color
  &:hover
    color: $active-element-text-color
    background-color: $danger-color-hover
    border-color: $danger-color-hover

.form-control
  .has-danger
    border-color: $danger-color
  &:focus
    border-color: $active-nav-background-color


/* header */
.navbar-light
  background-color: $header-background-color
  .navbar-brand
    color: $header-text-color
    &:hover
      color: $header-text-color

nav
  &.nav
    background-color: $component-background-color
    .nav-link
      &.active
        background-color: $active-nav-background-color
        color: $active-element-text-color

.header-btn
  color: $header-text-color
  border-color: $header-text-color
  &:hover
    color: $header-background-color
    background-color: $header-text-color
    border-color: $header-text-color

/* content */
.component-container
  border-radius: 0.2rem
  margin: 1rem
  padding: 1rem
  background-color: $component-background-color
  h4
    color: $component-header-color
    display: inline-block

.row
  .component-container
    height: calc(100% - 2rem)

.login-component
  text-align: center
  *
    text-align: initial
  .component-container
    display: inline-block

table.table
  margin-bottom: 0
  thead
    tr
      th
        border-top: 0
        border-bottom: 0
  thead
    tr
      &.header-row
        th
          padding-bottom: 0
      &.filter-row
        th
          padding-top: 0
          padding-bottom: 0
table.table-striped
  tbody
    tr
      td
        border-top: 0
