html, body
  margin: 0
  padding: 0
  width: 100%
  height: 100%
  background-color: #eee

.navbar-light
  background-color: #2A3142
  .navbar-brand
    color: #eee
nav
  &.nav
    background-color: #fff
    .nav-link
      &.active
        background-color: #014c8c
        color: #fff

.component-container
  border-radius: 0.25em
  padding: 1em
  background-color: #fff
  display: inline-block

.pointer
  cursor: pointer