<div class="row">
  <div class="col-md-6">
    <div class="component-container">
      <h4>{{ 'FILTER LIST' | translate }}</h4>
      <table class="table table-striped table-sm">
        <thead>
          <tr>
            <th>{{ 'ID' | translate }}</th>
            <th>{{ 'ACTIVE' | translate }}</th>
            <th>{{ 'NAME' | translate }}</th>
            <th>{{ 'DESCRIPTION' | translate }}</th>
            <th>{{ 'ACTIONS' | translate }}</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let filter of tagFilters | orderBy: name">
            <td>
              {{ filter.id }}
            </td>
            <td>
              {{ filter.active }}
            </td>
            <td>
              {{ filter.name }}
            </td>
            <td>
              {{ filter.description }}
            </td>
            <td>
              <button class="btn btn-sm btn-secondary" (click)="selectedFilter = filter">
                {{ 'EDIT' | translate }}
              </button>
              <button class="btn btn-sm btn-secondary" (click)="removeFilter(filter)">
                {{ 'REMOVE' | translate }}
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="col-md-6">
    <tag-filter-form [tagList]="this" [selectedFilter]="selectedFilter"></tag-filter-form>
  </div>
</div>