<div id="map" class="map">
  <div class="controls">  
    <button type="button" class="btn btn-secondary btn-sm pull-right" (click)="showAllFeatures()">
      {{ 'SHOW ALL' | translate }}
    </button>

    <div class="btn-group" role="group">
      <button type="button" class="btn btn-secondary btn-sm"
        [class.active]="prevFeatures && !nextFeatures"
        (click)="activatePrevFeatures()">
        {{ 'PREV' | translate }}
      </button>
      <button type="button" class="btn btn-secondary btn-sm"  
        [class.active]="nextFeatures && !prevFeatures"
        (click)="activateNextFeatures()">
        {{ 'NEXT' | translate }}
      </button>
      <button type="button" class="btn btn-secondary btn-sm"
        [class.active]="nextFeatures && prevFeatures"
        (click)="activateAllFeatures()">
        {{ 'BOTH' | translate }}
      </button>
    </div>
  </div>

</div>

