<div class="component-container">
  <h2>{{ 'LOGIN' | translate }}</h2>
  <form name="login-form"
        novalidate
        (submit)="login(loginForm)"
        #loginForm="ngForm">
    <div class="form-group"
         [class.has-danger]="hasFormError(loginForm.controls.username)">
      <label for="username">
        {{ 'USERNAME' | translate }}
      </label>
      <input type="text"
             class="form-control"
             id="username"
             name="username"
             required
             [(ngModel)]="model.username"
             [class.form-control-danger]="hasFormError(loginForm.controls.username)" />
    </div>
    <div class="form-group"
         [class.has-danger]="hasFormError(loginForm.controls.password)">
      <label for="password">
        {{ 'PASSWORD' | translate }}
      </label>
      <input type="password"
             class="form-control"
             id="password"
             name="password"
             required
             [class.has-danger]="hasFormError(loginForm.controls.password)"
             [(ngModel)]="model.password" />
    </div>
    <button class="btn btn-primary btn-sm btn-block"
            type="submit">
      {{ 'LOGIN' | translate }}
    </button>
  </form>
</div>
