<div class="row">
  <div class="col-md-12">
    <div class="component-container"
         *ngIf="currentChangeset">
      <div class="row">
        <div class="col-md-2">
          <button class="btn btn-secondary btn-sm"
                  (click)="prev(currentChangeset)"
                  [disabled]="!prevChangeset">
            <i class="fa fa-arrow-left" aria-hidden="true"></i>
            {{ 'PREVIOUS' | translate }}
          </button>
        </div>
        <div class="col-md-8 text-center">
          <h4 class="">{{ 'CHANGESET DETAILS' | translate }}</h4>
        </div>
        <div class="col-md-2 text-right">
          <button class="btn btn-secondary btn-sm"
                  (click)="next(currentChangeset)"
                  [disabled]="!nextChangeset">
            {{ 'NEXT' | translate }}
            <i class="fa fa-arrow-right" aria-hidden="true"></i>
          </button>
        </div>
      </div>
      <table class="table">
        <thead>
          <tr>
            <th>{{ 'CLOSED AT' | translate }}</th>
            <th>{{ 'OSM ID' | translate }}</th>
            <th>{{ 'USERNAME' | translate }}</th>
            <th>{{ 'CHANGES' | translate }}</th>
            <th>{{ 'SCORE' | translate }}</th>
            <th>{{ 'STATUS' | translate }}</th>
            <th>{{ 'ACTION' | translate }}</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>{{ currentChangeset.closedAt }}</td>
            <td>
              <a href="http://www.openstreetmap.org/changeset/{{ currentChangeset.osmId }}"
                 target="_blank">
                {{ currentChangeset.osmId }}
                <i class="fa fa-external-link" aria-hidden="true"></i>
              </a>
            </td>
            <td>
              <a href="http://www.openstreetmap.org/user/{{ currentChangeset.username }}"
                 target="_blank">
                {{ currentChangeset.username }}
                <i class="fa fa-external-link" aria-hidden="true"></i>
              </a>
            </td>
            <td>{{ currentChangeset.numChanges }}</td>
            <td>{{ currentChangeset.sumScore }}</td>
            <td>{{ reviewStatus.byId(currentChangeset.status) | translate }}</td>
            <td><josmlink [id]="currentChangeset.osmId"></josmlink></td>
          </tr>
        </tbody>
      </table>
      <strong>{{ 'TAGS' | translate }}</strong>
      <table class="table table-striped table-sm">
        <thead>
          <tr>
            <th>{{ 'KEY' | translate }}</th>
            <th>{{ 'VALUE' | translate }}</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let obj of currentChangeset.tags | keyValueList">
            <td>{{ obj.key }}</td>
            <td>{{ obj.value }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<div class="row"
     *ngIf="currentChangeset">
  <div class="col-md-8">
    <review-list [id]="currentChangeset.id"></review-list>
  </div>
  <div class="col-md-4">
    <review-form [id]="currentChangeset.id"></review-form>
  </div>
</div>

<div class="row"
     *ngIf="currentChangeset">
  <div class="col-md-8">
      <changeset-comment-list [id]="currentChangeset.osmId"></changeset-comment-list>
  </div>
</div>

<div class="row"
     *ngIf="currentChangeset">
  <div class="col-md-12">
    <changeset-changes-list [id]="currentChangeset.osmId"></changeset-changes-list>
  </div>
</div>
