<table class="table" *ngIf="changesetDetails">
  <thead>
    <tr>
      <th></th>
      <th>Added</th>
      <th>Modified</th>
      <th>Deleted</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>Nodes</th>
      <td>{{ changesetDetails.nodesAdd }}</td>
      <td>{{ changesetDetails.nodesModify }}</td>
      <td>{{ changesetDetails.nodesDelete }}</td>
    </tr>
    <tr>
      <th>Ways</th>
      <td>{{ changesetDetails.waysAdd }}</td>
      <td>{{ changesetDetails.waysModify }}</td>
      <td>{{ changesetDetails.waysDelete }}</td>
    </tr>
    <tr>
      <th>Relations</th>
      <td>{{ changesetDetails.relationsAdd }}</td>
      <td>{{ changesetDetails.relationsModify }}</td>
      <td>{{ changesetDetails.relationsDelete }}</td>
    </tr>
  </tbody>
</table>
