<message-viewer></message-viewer>
<header>

<nav class="navbar navbar-toggleable navbar-light bg-faded">
  <h1 class="navbar-brand mr-auto">{{ title }}</h1>
  <button class="btn btn-outline-secondary btn-sm header-btn"
          type="button"
          *ngIf="authService.isLoggedIn"
          (click)="logout()">
    {{ 'LOGOUT' | translate }}
  </button>
</nav>
<nav class="nav"
     *ngIf="authService.isLoggedIn">
  <a class="nav-link rounded-0"
     routerLink="/changesets"
     [routerLinkActive]="['active']">
    <i class="fa fa-table" aria-hidden="true"></i>
    {{ 'CHANGESETS' | translate }}
  </a>
  <a class="nav-link rounded-0"
     routerLink="/reviewBotConfigs"
     [routerLinkActive]="['active']">
    <i class="fa fa-magic" aria-hidden="true"></i>
    {{ 'REVIEW BOT CONFIGS' | translate }}
  </a>
  <a class="nav-link rounded-0"
     routerLink="/coverages"
     [routerLinkActive]="['active']">
    <i class="fa fa-object-ungroup" aria-hidden="true"></i>
    {{ 'COVERAGES' | translate }}
  </a>
</nav>
</header>
<div class="container-fluid">
  <router-outlet></router-outlet>
</div>

