<message-viewer></message-viewer>
<header>

<nav class="navbar navbar-toggleable navbar-light bg-faded">
  <h1 class="navbar-brand mr-auto">{{ title }}</h1>
  <button class="btn btn-outline-secondary btn-sm header-btn"
          type="button"
          *ngIf="authService.isLoggedIn()"
          (click)="logout()">
    {{ 'LOGOUT' | translate }}
  </button>
</nav>
<nav class="nav">
  <ul class="nav"
      *ngIf="authService.isLoggedIn()">
    <li class="nav-item">
      <a class="nav-link rounded-0"
         routerLink="/changesets"
         [routerLinkActive]="['active']">
        {{ 'CHANGESETS' | translate }}
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link rounded-0"
         routerLink="/reviewBotConfigs"
         [routerLinkActive]="['active']">
        {{ 'REVIEW BOT CONFIGS' | translate }}
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link rounded-0"
         routerLink="/coverages"
         [routerLinkActive]="['active']">
        {{ 'COVERAGES' | translate }}
      </a>
    </li>
  </ul>
</nav>
</header>
<div class="container-fluid">
  <router-outlet></router-outlet>
</div>

