{% macro render_errors(field) %}
    {% if field.errors %}
    <ul class="errors">
        {% for error in field.errors %}
        <li>{$ error $}</li>
        {% endfor %}
    </ul>
    {% endif %}
{% endmacro %}

{% macro input(field) -%}
<div class="form-group {% if field.errors %}has-error{% endif %}">
    <label id="label_{$ field.id $}" for="{$ field.id $}">
        <span>
        {$ field.label.text|safe $}:
        </span>
    </label>
    {$ field(class="form-control", **kwargs)|safe $} {$ render_errors(field) $}
</div>
{%- endmacro %}
