<div *ngIf="element">
  <h5>{{ type }}: {{ element.id }} (Version: {{ element.version }})
    <span class="external-link"><a href="http://www.openstreetmap.org/{{type}}/{{ element.id }}"
    target="_blank">
      <i class="fa fa-external-link" aria-hidden="true"></i>
    </a></span>
  </h5>                    
  <table class="table table-sm table-borderless table-striped" 
    *ngIf="combinedTags | hasKeys">
    <thead>
      <tr>
        <th>{{ 'KEY' | translate }}</th>
        <th>{{ 'NEW VALUE' | translate }}</th>
        <th>{{ 'OLD VALUE' | translate }}</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let t of combinedTags | keyValueList">
        <td>{{ t.key }}</td>
        <td [class.table-warning]="combinedTags[t.key].currentValue !== combinedTags[t.key].prevValue">
          {{ combinedTags[t.key].currentValue }}
        </td>
        <td *ngIf="hasPrevValue">
          {{ combinedTags[t.key].prevValue }}
        </td>
      </tr>
    </tbody>
  </table>
</div> 