<p>
  changeset-list works!
</p>
<table class="table">
  <thead>
    <tr>
      <th>OSM ID</th>
      <th>Created at</th>
      <th>Closed at</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <ng-container *ngFor="let changeset of changesets">
      <tr>
        <td>{{ changeset.osmId }}</td>
        <td>{{ changeset.createdAt }}</td>
        <td>{{ changeset.closedAt }}</td>
        <td><button (click)="show= show === changeset.osmId ? undefined : changeset.osmId">Toggle</button></td>
      </tr>
      <tr *ngIf="show === changeset.osmId">
        <td colspan="4"><changeset-details [id]="changeset.osmId"></changeset-details></td>
      </tr>
    </ng-container>
  </tbody>
</table>
