{% extends "pages/_base.html.j2" %}

{% block content %}
    <table class="table">
        <thead>
            <tr>
                <th>{$ _('Created at') $}</th>
                <th>{$ _('Closed at') $}</th>
                <th>{$ _('Changes total') $}</th>
                <th>{$ _('User') $}</th>
                <th>{$ _('Tags') $}</th>
                <th>{$ _('Actions') $}</th>
            </tr>
        </thead>
        <tbody>
            {% for changeset in changesets %}
                <tr>
                    <td>{$ changeset['created_at'] $}</td>
                    <td>{$ changeset['closed_at'] $}</td>
                    <td>{$ changeset['num_changes'] $}</td>
                    <td>{$ changeset['user_name'] $}</td>
                    <td>
                        <ul>
                            {% for tag, value in changeset['tags'].items() %}
                                <li>{$ tag $}: {$ value $}</li>
                            {% endfor %}
                        </ul>
                    </td>
                    <td>
                        <a target="_blank" href="{$ config['OPENSTREETMAP_CHANGESET_URL'] $}{$ changeset.id $}">{$ _('View on openstreetmap') $}</a>
                        <br>
                        <a href="{$ url_for('changesets.changeset_details', changeset_id=changeset['id']) $}">{$ _('Details') $}</a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

{% endblock %}