{% extends "pages/_base.html.j2" %}

{% block content %}
    <div class="row">
        <div class="col-sm-4">
            <div class="well">
                <ul class="list-unstyled">
                    <li>{$ _('Created at') $}: {$ details['created_at'] $}</li>
                    <li>{$ _('Closed at') $}: {$ details['closed_at'] $}</li>
                    <li>{$ _('Username') $}: {$ details['user_name'] $}</li>
                </ul>
                <h5>{$ _('Tags') $}</h5>
                <dl>
                    {% for tag, value in details['tags'].items() %}
                        <dt>{$ tag $}</dt>
                        <dd>{$ value $}</dd>
                    {% endfor %}
                </dl>
                <h5>{$ _('Changed osm objects') $}</h5>
                <table class="table">
                    <thead>
                        <tr>
                            <th></th>
                            <th>{$ _('added') $}</th>
                            <th>{$ _('modified') $}</th>
                            <th>{$ _('deleted') $}</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th>{$ _('Nodes') $}</th>
                            <td>{$ details['nodes_add'] $}</td>
                            <td>{$ details['nodes_modify'] $}</td>
                            <td>{$ details['nodes_delete'] $}</td>
                        </tr>
                        <tr>
                            <th>{$ _('Ways') $}</th>
                            <td>{$ details['ways_add'] $}</td>
                            <td>{$ details['ways_modify'] $}</td>
                            <td>{$ details['ways_delete'] $}</td>
                        </tr>
                        <tr>
                            <th>{$ _('Relations') $}</th>
                            <td>{$ details['relations_add'] $}</td>
                            <td>{$ details['relations_modify'] $}</td>
                            <td>{$ details['relations_delete'] $}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="col-sm-8">
            [MAP_SHOWING_CHANGESET_PLACEHOLDER]
        </div>
    </div>
{% endblock %}
