<div class="messages-container"
     *ngIf="messages !== undefined">
  <div class="message alert"
       *ngFor="let message of messages"
       [class.alert-success]="message.type === 'success'"
       [class.alert-danger]="message.type === 'error'"
       [class.alert-info]="message.type === 'info'">
    <i class="fa fa-times closer pointer"
       aria-hidden="true"
       (click)="close(message)">
    </i>
    <i class="fa fa-exclamation-circle"
       aria-hidden="true"
       [class.fa-check-circle]="message.type === 'success'"
       [class.fa-exclamation-circle]="message.type === 'error'"
       [class.fa-info-circle]="message.type === 'info'">
    </i>
    {{ message.message }}
  </div>
</div>
